* {
	box-sizing: border-box;
}

h2 {
	padding: 0;
	margin: 0 0 20px;
}

.starter {
	font-size: 30px;
	padding: 0;
	display: block;
	margin: 0 0 0 30px;
	border: 2px solid darkgray;
}

#input {
	display: inline-block;
	width: 90%;
}

#output {
	display: inline-block;
	background-color: lightblue;
	width: 90%;
	height: 320px;
}
