.starter{
  font-size:20px;
  padding:10px;
  display:block;
  margin:20px;
  border:1px solid grey;
}

#output{
  background-color:pink;
  width: 500px;
  height: 30px;
  margin: 20px 20px;
}


#output2{
  background-color:beige;
  width: 500px;
  height: 30px;
  margin: 20px 20px;
}

input {
    width: 500px;
}

h3 {
    font-size: 15px;
    margin: 20px;
    color: grey;
}