.starter{
  font-size:30px;
  padding:10px;
  display:block;
  margin:40px;
  line-height: 5rem;
  border:3px solid blue;
}

#output{
  background-color:pink;
}

#output2 {
	background-color: cyan;
}

#output3 {
	background-color: lightgreen;
}

#input, #output, #output2, #output3{
	width: 700px;
	height: 90px;
	text-align: center;
}